[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql-connector-python = "*"
fastapi = "*"
pytest = "*"
uvicorn = "*"
pandas = "*"
python-dotenv = "*"
pymysql = "*"
unidecode = "*"
sqlalchemy = "*"
fpdf = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.8"
